<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../../js/vue.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../js/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<script src="../../../js/jquery/jquery3.4.1.js"></script>
		<script src="../../../js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="app" class="container">
			<input type="radio"  id="shanghai" value="上海" v-model="city"/>
			<label for="shanghai">上海</label>
			<input type="radio"  id="xian" value="西安" v-model="city"/>
			<label for="xian">西安</label>
			<input type="radio"  id="wuhan" value="武汉" v-model="city"/>
			<label for="wuhan">武汉</label>
			<h2>您所选择的是:{{city}}</h2>
		</div>
	</body>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data:{
				message: '你好啊',
				city: '西安'
			}
		})
	</script>
</html>
